body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#app {
  max-width: 600px;
  margin: 0 auto;
}

form {
  margin-bottom: 20px;
}

input, textarea, button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  
}
input :active{
  outline: none !important;
}

input :focus{
  outline: none;
}
    

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.card h2 {
  margin: 0 0 10px;
}

.card p {
  margin: 0 0 10px;
}

.card a {
  color: #007BFF;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}

.card button {
  margin: 10px 0;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

.card button:hover {
  background-color: #cc0000;
}